@import 'mixins.less';
@import 'icons-font.less';
@import "base.less";
@import "helpers.less";
.button{
  font-family:@ff ;
  border-radius: 70px;

  &.small {
    padding-right: 1.15rem;
    padding-left: 1.15rem;
  }

  &.green{
    background: @green;
    &[disabled]{
      background: @green;
      &:hover{
        background: darken(@green, 10%);
      }
    }
    &:hover{
      background: darken(@green, 10%);
    }
    &:focus{
      background-color: darken(@green, 10%);
    }
  }
  &.green-outline{
    background: white;
    border: 2px solid @green;
    color: @green;
    &[disabled]{
      background: white;
      &:hover{
        background: darken(white, 10%);
      }
    }
    &:hover{
      background: @green;
      color:white;
    }
    &:focus{
      background-color: @green, 10%;
      color:white;
    }
  }
  &.white{
  background: white;
  color: @green;
    &[disabled]{
      background: white;
      &:hover{
        background: darken(white, 10%);
      }
    }
    &:hover{
      background: darken(white, 10%);
      color: lighten(black, 10%);
    }
    &:focus{
      background-color: darken(white, 10%);
    }
  }
  &.blue{
  background: @blue;
    &[disabled]{
      background: @blue;
      &:hover{
        background: darken(@blue, 10%);
      }
    }
    &:hover{
      background: darken(@blue, 10%);
    }
    &:focus{
      background-color: darken(@blue, 10%);
    }
  }
}

header{
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
  background: white;
  padding: 10px;
  border-bottom: 1px solid #f4f4f4;
  nav{
    a{
      color:black;
      text-decoration: none;
      font-weight: bold;
      padding: 15px 9px 9px;
      display: inline-block;
      margin-right: 25px;
      .transition (all .3s ease-in-out);
      border-bottom: 2px solid white;
      &:last-child {
        margin-right: 0;
      }
      &:hover{
        border-bottom: 2px solid @green;
      }
      &.active{
        border-bottom: 2px solid @green;
      }
    }
  }
  .button {
    margin-bottom: 0;
  }
}



#banner{
  padding: 7rem 0;
  .column:first-child{
    margin-top: 3rem;
  }
  .subtitle{
    margin: 0 auto;
    width: 90%;
    display: block;
    font-size: 1.1rem;
    line-height: 20px;
    padding: 1.5rem 2rem 1rem;
    border-radius: 5rem;
    background: #FAFAFA;
    i{
      display: block;
      margin-bottom: -10px;
      font-size: 2rem;
      color: #CACACA;
    }
  }
}

#features{
  width: 100%;
  background: #F3F3F3;
  background: url(../img/pat.png);
  color:#2c3e50;
  .large-6{
    padding: 0 70px;
  }
}
#forVets{
  overflow: hidden;
}
#forOwners{
  background: #fafafa;
  position: relative;
  margin-top: 50px;
  .trees{
    background: url('../img/trees.png') no-repeat;
    background-size: cover;
    top: -240px;
    height:240px;
    width: 100%;
    position: absolute;
  }
}
.column-with-line{
    text-align: center;
    &:after{
      content: '';
      width: 36%;
      height: 1px;
      display: block;
      border-bottom: 1px solid fade(#2c3e50, 20%);
      margin: 2rem auto;
    }
  }


.social-icons{
  position: fixed;
  bottom: 10px;
  right: 10px;
  a{
    display: block;
    color: white;
    text-decoration: none;
    border-radius: 52%;
    width: 30px;
    height: 30px;
    padding: 7px;
    margin-bottom: 3px;
    &.icon-facebook{
      background: #3B5998;
    }
    &.icon-twitter-alt{
      background: #5EA9DD;
    }
  }
}





.feature{
  position: relative;
  padding-left: 45px;
  margin-bottom: 50px;
  i{
    position: absolute;
    left: 0;
    &:before{
      font-size: 30px;
    }
  }
  &.green i{
    color: @green;
  }
  &.blue i{
    color: @blue;
  }
}




.form-row{
  background: #fff;
  padding: 0.9rem 3rem;
  border-radius: 0.6rem;
  margin-top: 2rem;
  border: 1px dashed #DBDBDB;
  .transition(all .5s ease-out);
  label{
    position: relative;
    i{
      position: absolute;
      font-size: 1.8rem;
      top: 1.9rem;
      right: 0.4rem;
      font-family: "vetheroes-landing-icons" !important;
      font-style: normal;
    }
  }
}

.thanks{
  background: @green;
  .thanks-msg{
    font-size: 1.4rem;
    color: white;
    i{
      display: block;
      color: white;
      font-size: 4rem;
    }
  }
}

@media only screen and (max-width: 40em){
  .phone-frame{
    height: 200px;
    overflow: hidden;
  }
  .form-row{
    padding: 1rem;
  }
  #banner{
    padding-top: 0;
  }
}