@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400);
@import url(http://fonts.googleapis.com/css?family=Roboto:100,400);
@charset "UTF-8";
@font-face {
  font-family: "vetheroes-landing-icons";
  src: url("fonts/vetheroes-landing-icons.eot");
  src: url("fonts/vetheroes-landing-icons.eot?#iefix") format("embedded-opentype"), url("fonts/vetheroes-landing-icons.woff") format("woff"), url("fonts/vetheroes-landing-icons.ttf") format("truetype"), url("fonts/vetheroes-landing-icons.svg#vetheroes-landing-icons") format("svg");
  font-weight: normal;
  font-style: normal;
}
.icon-font {
  font-family: "vetheroes-landing-icons" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
[data-icon]:before {
  font-family: "vetheroes-landing-icons" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "vetheroes-landing-icons" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-calendar-1:before {
  content: "a";
}
.icon-contact-book-2:before {
  content: "b";
}
.icon-pulse-graph-1:before {
  content: "c";
}
.icon-bubble-heart-2:before {
  content: "d";
}
.icon-business-chart-2:before {
  content: "e";
}
.icon-stationery-2:before {
  content: "f";
}
.icon-message:before {
  content: "g";
}
.icon-alarm-1:before {
  content: "h";
}
.icon-note-paper-checked:before {
  content: "i";
}
.icon-present:before {
  content: "j";
}
.icon-heart-plus:before {
  content: "k";
}
.icon-check-circle-2:before {
  content: "l";
}
.icon-delete-3:before {
  content: "m";
}
.icon-mail-inbox:before {
  content: "n";
}
html {
  font-size: 100%;
  font-family: 'Lato', "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
}
body {
  font-family: 'Lato', "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  font-weight: 100;
}
h1,
h2,
h3,
h4,
h5 {
  font-weight: 300;
  text-shadow: none;
}
h2 {
  text-align: center;
  font-size: 2rem;
}
h3 {
  font-size: 1.5rem;
}
h4 {
  font-size: 15px;
}
p {
  font-size: 15px;
  line-height: 16px;
  font-weight: 300;
}
section {
  padding-top: 4rem ;
  padding-bottom: 4rem;
}
label {
  font-size: 1rem;
}
hr {
  width: 80%;
  border: 1px solid #FFF;
  margin: 50px auto;
}
input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="month"],
input[type="week"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"] {
  font-size: 1.7rem;
  height: auto;
}
.lato {
  font-family: 'Lato', "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
}
.roboto {
  font-family: 'Roboto', "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
}
.tac {
  text-align: center;
}
.fwb {
  font-weight: 400;
}
.fwl {
  font-weight: 100;
}
.ttu {
  text-transform: uppercase;
}
.p2 {
  padding: 2rem;
}
.no-margin {
  margin: 0;
}
.uppercase {
  text-transform: uppercase;
}
.white {
  color: white;
}
.align-center {
  text-align: center;
}
/*This is the almighty clearfix*/
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
* html .clearfix {
  zoom: 1;
}
/* IE6 */
*:first-child + html .clearfix {
  zoom: 1;
}
/* IE7 */
/*Some helper spacers*/
.spacer-8 {
  width: 100%;
  height: 80px;
}
.spacer-7 {
  width: 100%;
  height: 70px;
}
.spacer-6 {
  width: 100%;
  height: 60px;
}
.spacer-5 {
  width: 100%;
  height: 50px;
}
.spacer-4 {
  width: 100%;
  height: 40px;
}
.spacer-3 {
  width: 100%;
  height: 30px;
}
.spacer-2 {
  width: 100%;
  height: 20px;
}
.spacer-1 {
  width: 100%;
  height: 10px;
}
/*NG-CLOACK for angular hidding before it is time to dance*/
[ng\:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
  display: none !important;
}
.button {
  font-family: 'Lato', "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  border-radius: 70px;
}
.button.green {
  background: #3aba8f;
}
.button.green[disabled] {
  background: #3aba8f;
}
.button.green[disabled]:hover {
  background: #2e9371;
}
.button.green:hover {
  background: #2e9371;
}
.button.green:focus {
  background-color: #2e9371;
}
.button.blue {
  background: #2ecbfd;
}
.button.blue[disabled] {
  background: #2ecbfd;
}
.button.blue[disabled]:hover {
  background: #02bbf6;
}
.button.blue:hover {
  background: #02bbf6;
}
.button.blue:focus {
  background-color: #02bbf6;
}
header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
  background: white;
  padding: 10px;
  border-bottom: 1px solid #f4f4f4;
}
header nav a {
  color: black;
  text-decoration: none;
  font-weight: bold;
  padding: 15px 20px;
  display: inline-block;
}
#banner {
  padding: 7rem 0;
}
#banner .column:first-child {
  margin-top: 3rem;
}
#banner .subtitle {
  margin: 0 auto;
  width: 90%;
  display: block;
  font-size: 1.1rem;
  line-height: 20px;
  padding: 1.5rem 2rem 1rem;
  border-radius: 5rem;
  background: #FAFAFA;
}
#banner .subtitle i {
  display: block;
  margin-bottom: -10px;
  font-size: 2rem;
  color: #CACACA;
}
#features {
  width: 100%;
  background: #F3F3F3;
  background: url(../img/pat.png);
  color: #2c3e50;
}
#features .large-6 {
  padding: 0 70px;
}
#forVets {
  overflow: hidden;
}
#forOwners {
  background: #fafafa;
  position: relative;
  margin-top: 50px;
}
#forOwners .trees {
  background: url('../img/trees.png') no-repeat;
  background-size: cover;
  top: -240px;
  height: 240px;
  width: 100%;
  position: absolute;
}
.column-with-line {
  text-align: center;
}
.column-with-line:after {
  content: '';
  width: 36%;
  height: 1px;
  display: block;
  border-bottom: 1px solid rgba(44, 62, 80, 0.2);
  margin: 2rem auto;
}
.feature {
  position: relative;
  padding-left: 45px;
  margin-bottom: 50px;
}
.feature i {
  position: absolute;
  left: 0;
}
.feature i:before {
  font-size: 30px;
}
.feature.green i {
  color: #3aba8f;
}
.feature.blue i {
  color: #2ecbfd;
}
.form-row {
  background: #fff;
  padding: 0.9rem 3rem;
  border-radius: 0.6rem;
  margin-top: 2rem;
  border: 1px dashed #DBDBDB;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -ms-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
}
.form-row label {
  position: relative;
}
.form-row label i {
  position: absolute;
  font-size: 1.8rem;
  top: 1.9rem;
  right: 0.4rem;
  font-family: "vetheroes-landing-icons" !important;
  font-style: normal;
}
.thanks {
  background: #3aba8f;
}
.thanks .thanks-msg {
  font-size: 1.4rem;
  color: white;
}
.thanks .thanks-msg i {
  display: block;
  color: white;
  font-size: 4rem;
}
@media only screen and (max-width: 40em) {
  .phone-frame {
    height: 200px;
    overflow: hidden;
  }
  .form-row {
    padding: 1rem;
  }
  #banner {
    padding-top: 0;
  }
}
